<div class="main-container">
    <div class="searh-bar-container">
        <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="filter">
              <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
              </span>
            </p>
        </div>
    </div>
    <div class="notes-list">
        <app-notes-cart [link]="i" *ngFor="let item of notes;index as i"  
        (delete)="removenotes(i)" [title]="item.title" [body]="item.body"></app-notes-cart>
    </div>

    <button routerLink="new" class="button floating-add-button is-primary">+ Add </button>
</div>